<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>JSON Table</title>
    <link rel='stylesheet' href='/bootstrap.min.css' type='text/css'>
    <script src="/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="/underscore-1.4.2.min.js" type="text/javascript"></script>
    <script src="/backbone-0.9.2.min.js" type="text/javascript"></script>
  </head>

  <body>
    <div class="container">
      <h1>JSON Table</h1>
    </div>
  </body>
</html>
